<section class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sistema de stock
      </h1>
      <h2 class="subtitle">
        Bienvenido al sistema
      </h2>
    </div>
  </div>
</section>